{% extends 'base.html' %}

{% block title %}
    <title>Task manager</title>
{% endblock %}

{% block body %}
    <div class="content">
        <h1 style="text-align: center">Task manager</h1>

3        <table>
            <tr>
                <th>Task</th>
                <th>Added</th>
                <th>Actions</th>
            </tr>
            {% for task in tasks %}
            <tr>
                <td>{{ task.content }}</td>
                <td>{{ task.date_created }}</td>
                <td>
                    <a href="">Delete</a> 
                    <br>
                    <a href="">Update</a>
                </td>
            </tr>
            {% endfor %}
        </table>

        <form action="/" method="post">
            <input type="text" name="content" id="content">
            <input type="submit" value="Add Task">
        </form>
    </div>
{% endblock %}